{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% load customfilter %}
{% block content %}
    <link href="{% static 'css/modal.css' %}" rel="stylesheet" type="text/css">
    <div class="input-area">
        <form method="post" action="{% url 'trade:editTrade' %}">
            <div class="input-form">
                {% csrf_token %}
                <input type="hidden" name="id" id="id" value="-1">
                <div><label>날짜</label><input type="date" name="date" id="date" required></div>
                <div><label>거래처명</label>
                    <select name="client" id="client" required>
                        {% for client in clients %}
                            <option value="{{ client.client }}">{{ client.client }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div><label>거래금액</label><input type="number" name="price" id="price" min="0" value="0" readonly></div>
                <div><label>납입금액</label><input type="text" name="pay" id="pay" min="0" required></div>
                <div><label>비고</label><input type="text" name="content" id="content"></div>
            </div>
            <div class="submit-form">
                <div><input type="submit" value="저장"></div>
                    <input type="button" value="삭제" id="delete">
                <div><input type="button" value="초기화" onclick="history.go();"></div>
            </div>
        </form>
    </div>
    <div class="null-area">
    </div>
    <div style="margin : 1rem;"></div>
    <div class="view-area">
        <div class="view-header"><h1>거래내역관리</h1><span><button class="input-button">거래입력</button></span></div>
        <div class="input-area" id="batch-form">
            <form method="get">
                <div class="input-form" style="width : 100%;">
                    <div>필터기능</div>
                    <div><label>거래처</label>
                        <select id="batch-client" name="client" required>
                            <option value="all">전체</option>
                            {% for client in clients %}
                                {% if filter_client == client.client %}
                                    <option value="{{ client.client }}" selected>{{ client.client }}</option>
                                {% else %}
                                    <option value="{{ client.client }}">{{ client.client }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div><label>시작</label><input type="month" name="start" value="{{ filter_start|date:'Y-m' }}" required></div>
                    <div><label>종료</label><input type="month" name="end" value="{{ filter_end|date:'Y-m' }}" required></div>
                    <input type="submit" value="검색" id="search">
                <span style="float:right">조회 날짜 금액 : {{ select_total|intcomma }}원 | 총 미수금 : {{ misu|intcomma }}원 </span>
                </div>
            </form>
        </div>
        <div>
            <div style="border : 1px solid black; height : 35rem;">
                <div id="data-fields">
                </div>
            </div>
        </div>
    </div>


    <!-- modal -->
    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2>거래입력</h2>
            </div>
            <div class="close-area">X</div>
            <div class="content">
                <div class="search-fields">
                    <div><label>거래처</label>
                        <select id="search-client">
                            {% for client in clients %}
                                <option value="{{ client.client }}">{{ client.client }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div><label>선택월</label><input type="month" id="inputmonth"></div><button id="search-button">검색</button></div>
                <div class="search-header"><div>거래일자</div><div>거래금액</div><div>비고</div></div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="client" id="iclient" value="">
                    <div class="search-data"></div>
                    <input class="" type="submit" value="저장">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var dataHeader = ["거래일자", "상호명", "금액", "상태", "비고", "납부방법"];
        var datas = [];
        var filterdatas = [];
        var dataId = "#data-fields";
        var sortfix = [0, 1];
        var filterValue =["{{ filter_client }}","{{ filter_start }}","{{ filter_end }}"];
        let db = "clienttrade";
        {% for data in datas %}
            var line = []
            line.push("{{ data.id }}");
            line.push("{{ data.date|date:"Y-m-d" }}");
            line.push("{{ data.client }}");
            line.push("{{ data.price|output_pay:data.pay|intcomma }} 원");
            line.push("{{ data.price|output_type }}");
            line.push("{{ data.content }}");
            line.push("{{ data.card|is_card }}");
            datas.push(line);
        {% endfor %}

        gridSetting(dataId, 1);
        printData(1, dataId, dataHeader, datas);

        $(document).on("click", ".data-header .datas", function() {
            var sortkey = $(".data-header .datas").index(this);

        });

        $(document).on("click", ".data-body", function () {
            var findkey = $(this).children("div:eq(0)");
            var key = findkey.get()[0].innerText;
            var getValue = getData(key, "{% url 'trade:getClientTrade' %}");
            formSetData(getValue, key);
        });

        $(document).on("click", ".input-button", function(){
            $("#inputmonth").val("{{ today|date:'Y-m' }}");
            $("#data-fields .data-header").css("z-index", "0");
            $("#modal.modal-overlay").css("visibility", "visible");
        });

        $(document).on("click", ".close-area", function(){
            $(".search-data").empty();
            $("#modal.modal-overlay").css("visibility", "hidden");
            $("#data-fields .data-header").css("z-index", "1");
        });

        $(document).on("click", "#search-button", function(){
            let lastdays = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

            var client = $("#search-client").val();
            var m = $("#inputmonth").val();
            var x = m.split("-")
            var start = m + "-01";
            if(x[1] == 2) {
                if(x[0] % 400 == 0) var end = m + "-" + lastdays[parseInt(x[1])] + 1;
                else if(x[0] % 100 == 0) var end = m + "-" + lastdays[parseInt(x[1])];
                else if(x[0] % 4 == 0) var end = m + "-" + lastdays[parseInt(x[1])];
            }
            else {
                var end = m + "-" + lastdays[parseInt(x[1])];
            }
            var dateList = getDatesStartToLast(start, end);
            var dateValue = getTradeValue(client, m, "{% url 'trade:getTrade' %}");
            $("#iclient").val(client);
            $(".search-data").empty();
            for (date of dateList) {
                var c = 1
                for (data of dateValue) {
                    if (data["date"] == date) {
                        var line = "<div class='searched'><div><input type='date' name='date[]' value='" + date + "' readonly tabindex='-1'></div><div><input type='number' name='price[]' value='" + data["price"] + "'></div><div><input type='text' name='content[]' value='" + data["content"] + "' tabindex='-1'></div></div>";
                        $(".search-data").append(line);
                        c = 0;
                    }
                }
                if(c) {
                    var line = "<div class='searched'><div><input type='date' name='date[]' value='" + date + "' readonly tabindex='-1'></div><div><input type='number' name='price[]'></div><div><input type='text' name='content[]' tabindex='-1'></div></div>";
                    $(".search-data").append(line);
                }
            }
        });
        $(document).on("click", ".data-header .datas", function() {
            var sortkey = $(".data-header .datas").index(this);
            if(sortkey == sortfix[0]){
                if(sortfix[1] == 1){
                    datas = sorting(datas, sortkey);
                    sortfix[1] = 0;

                    clearlist();
                    gridSetting(dataId, 1);
                    printData(0, dataId, dataHeader, datas);
                } else {
                    datas = sorting(datas, sortkey);
                    datas.reverse();
                    sortfix[1] = 1;

                    clearlist();
                    gridSetting(dataId, 1);
                    printData(0, dataId, dataHeader, datas);
                }
            }else {
                datas = sorting(datas, sortkey);
                datas.reverse();
                sortfix[0] = sortkey;
                sortfix[1] = 0;

                clearlist();
                gridSetting(dataId, 1);
                printData(0, dataId, dataHeader, datas);
            }
        });

    </script>
{% endblock %}