{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="input-area">
        <form method="post">
            <div class="input-form">
                {% csrf_token %}
                <input type="hidden" name="id" id="id" value="-1">
                <div><label>항목명</label><input type="text" name="etc" id="etc" required></div>
                <div><label>금액</label><input type="text" name="pay" id="pay" required></div>
                <div><label>납부타입</label>
                    <select name="paytype" id="paytype">
                        <option value="수기납부">수기납부</option>
                        <option value="자동이체">자동이체</option>
                        <option value="카드결제">카드결제</option>
                    </select></div>
                <div><label>적요</label><input type="text" name="summary" id="summary" required></div>
            </div>
            <div class="submit-form">
                <div><input type="submit" value="저장"></div>
                <div><input type="button" value="초기화" onclick="history.go();"></div>
            </div>
        </form>
    </div>
    <div class="null-area">
    </div>
    <div class="view-area">
        <div class="view-header"><h1>기타납부정보관리</h1></div>

        <div style="border : 1px solid black; height : 35rem;">
            <div id="data-fields">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var dataHeader = ["항목명", "금액", "납부타입", "적요"];
        var datas = [];
        var dataId = "#data-fields";
        var sortfix = [0, 1];

        {% for data in datas %}
            var line = []
            line.push("{{ data.id }}");
            line.push("{{ data.etc }}");
            line.push("{{ data.pay|intcomma }}");
            line.push("{{ data.paytype }}");
            line.push("{{ data.summary }}");
            datas.push(line);
        {% endfor %}

        gridSetting(dataId, 1);
        printData(1, dataId, dataHeader, datas);

        $(document).on("click", ".data-header .datas", function() {
            var sortkey = $(".data-header .datas").index(this);

            if(sortkey == sortfix[0]){
                console.log("eq");
                if(sortfix[1] == 1){
                    console.log("desc");
                    datas.sort(function(a, b) { return a[sortfix[0]] > b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                    sortfix[1] = 0;

                    clearlist();
                    gridSetting(dataId, 1);
                    printData(0, dataId, dataHeader, datas);
                } else {
                    console.log("aec");
                    datas.sort(function(a, b) { return a[sortfix[0]] < b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                    sortfix[1] = 1;

                    clearlist();
                    gridSetting(dataId, 1);
                    printData(0, dataId, dataHeader, datas);
                }
            }else {
                datas.sort(function(a, b) { return a[sortfix[0]] < b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                sortfix[0] = sortkey;
                sortfix[1] = 0;

                clearlist();
                gridSetting(dataId, 1);
                printData(0, dataId, dataHeader, datas);
            }
        });

        $(".data-body").click(function () {
            var findkey = $(this).children("div:eq(0)");
            var key = findkey.get()[0].innerText;
            console.log(key);
            var getValue = getData(key, "{% url 'trade:getEtc' %}");
            console.log(getValue);
            formSetData(getValue, key);
        });
    </script>
{% endblock %}