{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load customfilter %}
{% block content %}
    <div class="input-area">
        <form method="post">
            <div class="input-form">
                {% csrf_token %}
                <input type="hidden" name="id" id="id" value="-1">
                <div>
                    <label>날짜</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <div><label>항목명</label>
                    <select type="text" name="etc" id="etc" required>
                        {% for etc in etcs %}
                            <option value="{{ etc.etc }}">{{ etc.etc }}</option>
                        {% endfor %}
                    </select></div>
                <div><label>금액</label><input type="number" name="price" id="price"></div>
                <div><label>납부금액</label><input type="number" name="pay" id="pay"></div>
                <div><label>적요</label><input type="text" name="summary" id="summary"></div>
            </div>
            <div class="submit-form">
                <div><input type="submit" value="저장"></div>
                    <input type="button" value="삭제" id="delete">
                <div><input type="button" value="초기화" onclick="location.href='';"></div>
            </div>
        </form>
    </div>
    <div class="null-area">
    </div>
    <div class="view-area">
        <div class="view-header"><h1>기타납부내역</h1></div>

        <div style="border : 1px solid black; height : 35rem;">
            <div id="data-fields">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var dataHeader = ["날짜", "항목명", "금액", "납부타입", "적요",  "납부상태"];
        var datas = [];
        var dataId = "#data-fields";
        var sortfix = [0, 1];
        let db = "etcpay";
        {% for data in datas %}
            var line = []
            line.push("{{ data.id }}");
            line.push("{{ data.date }}");
            line.push("{{ data.etc }}");
            line.push("{{ data.price|intcomma }}");
            line.push("{{ data.paytype }}");
            line.push("{{ data.summary }}");
            line.push("{{ data.price|royalty_status:data.pay }}");
            datas.push(line);
        {% endfor %}

        gridSetting(dataId, 1);
        printData(1, dataId, dataHeader, datas);

        $(document).on("click", ".data-header .datas", function() {
            var sortkey = $(".data-header .datas").index(this);

            if(sortkey == sortfix[0]){
                console.log("eq");
                if(sortfix[1] == 1){
                    console.log("desc");
                    datas.sort(function(a, b) { return a[sortfix[0]] > b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                    sortfix[1] = 0;

                    clearlist();
                    gridSetting(dataId, 1);
                    printData(0, dataId, dataHeader, datas);
                } else {
                    console.log("aec");
                    datas.sort(function(a, b) { return a[sortfix[0]] < b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                    sortfix[1] = 1;

                    clearlist();
                    gridSetting(dataId, 1);
                    printData(0, dataId, dataHeader, datas);
                }
            }else {
                datas.sort(function(a, b) { return a[sortfix[0]] < b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                sortfix[0] = sortkey;
                sortfix[1] = 0;

                clearlist();
                gridSetting(dataId, 1);
                printData(0, dataId, dataHeader, datas);
            }
        });

        $(".data-body").click(function () {
            var findkey = $(this).children("div:eq(0)");
            var key = findkey.get()[0].innerText;
            console.log(key);
            var getValue = getData(key, "{% url 'trade:getEtcPay' %}");
            console.log(getValue);
            formSetData(getValue, key);
        });
    </script>
{% endblock %}