body, html {
    box-sizing: border-box;
    overflow: hidden;
}
.null-box {
    font-size : 0;
}
.dashboard-header {
    display: block;
    width : 80%;
    margin-right: 5%;
    border-bottom : 0.5px solid rgba(105, 104, 103, 0.53);
}
.dashboard-main {
    overflow-x : hidden;
    overflow-y: auto;
    height : 80vh;
}
.dashboard-sub-title {
    display: inline-block;
    font-size : 1.2rem;
    font-weight : 600;
}
.sonic-graph {
    display: inline-block;
    padding : 1rem;
    margin : 1rem;
    box-sizing: border-box;
    font-size : 1rem;
    height: calc(100vh - 13rem);
}
.sonic-graph {
    width : calc(95%);
    margin-right : 2.5%;
    margin-left : 2.5%;
}
.content {
    padding : 1rem;
    background: white;
    width : calc(100% - 2rem);
    min-height : calc(70vh);
    box-sizing: border-box;
    margin : 1rem;
}
.select-box {
    display: inline-block;
    padding : 0.25rem;
    margin-bottom : 0.25rem;
    margin-right: 2rem;
    border : 1px solid rgba(122, 122, 122, 0.38);
    border-radius: 5px;
    box-sizing: border-box;
    font-size : 0.8rem;
    float : right;
}
.select-box label {
    padding-left : 0.5rem;
    padding-right : 0.5rem;
    border-right : 1px solid var(--primary-color);
}
.select-box select {
    border : 0;
    margin-left : 0.5rem;
}
#graph {
    width :100%;
    height : 30rem;
    padding-bottom : 2rem;
}
#sonic-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    text-align : center;
    margin-top : 2rem;
    font-size : 0.8rem;
}
#sonic-data div {
    margin : 0.5rem;
}
.sonic-title {
    color : gray;
    padding-left : -2rem;
}

#sonic-data div .sonic-pay{
    font-weight: 600;
    font-size : 2.8rem;
}
.red {
    color : red;
}
.blue {
    color: blue;
}
.misu {
    width : 100%;
    margin-top : 2.5rem;
    border-top : 0.5px solid rgba(105, 105, 105, 0.42);
}
.misu h1 {
    margin-top : 1.5rem;
    font-size : 1.2rem;
    font-weight : 600;
}
.misu-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.misu-list {
    margin : 2rem 5px 0 5px;
    box-sizing: border-box;
}
.misu-list h3 {
    color : var(--primary-color);
    font-size : 1.2rem;
    font-width: 600;
    padding-bottom : 1rem;
    border-bottom : 1px solid rgba(124, 124, 124, 0.49);
}
.column-2 { grid-template-columns: repeat(2, 1fr); }
.column-3 { grid-template-columns: repeat(3, 1fr); }
.column-4 { grid-template-columns: repeat(4, 1fr); }
.column-5 { grid-template-columns: repeat(5, 1fr); }
.column-6 { grid-template-columns: repeat(6, 1fr); }
.column-7 { grid-template-columns: repeat(7, 1fr); }
.column-8 { grid-template-columns: repeat(8, 1fr); }
.column-9 { grid-template-columns: repeat(9, 1fr); }

.misu-list .datas {
    min-height: 5rem;
    max-height : 7rem;
    overflow-y: auto;
}
.misu .data-column, .misu .datas > div {
    display: grid;
    text-align : center;
    padding : 0.5rem 0 0.5rem 0;
    border-bottom : 1px solid rgba(124, 124, 124, 0.25);
}
.misu .data-column {
    font-size : 1.1rem;
    background: rgba(89, 89, 89, 0.1);
}
.misu .datas > div {
    font-size : 0.9rem;
}
.export {
    float : right;
    font-size : 1rem;
    color : #947957;
    border : 0.5px solid rgba(131, 131, 131, 0.65);
    border-radius: 5px;
    padding : 0.25rem 0.5rem 0.25rem 0.5rem;
    cursor : pointer;
}