.bg-gray {
    background: rgba(189, 189, 189, 0.5);
}

.bg-red {
    background: rgba(255, 96, 96, 0.43);
}
.bg-lightgray {
    background : rgba(255, 166, 0, 0.25);
}
.bg-success {
    background : rgba(181, 243, 125, 0.74);
}
.bg-before {
    background : rgba(171, 171, 171, 0.25);
}
.bg-warning {
    background : rgba(239, 65, 0, 0.53);
}
body {
    overflow-y: hidden;
}

main {
    display: inline-block;
    width: 84%;
    float: right;
    padding: var(--default-padding);
    box-sizing: border-box;
}

.input-area, .null-area, .view-area {
    width: 100%;
}

.input-area form{
    display: flex;
    justify-content: space-between;
}

.input-area .input-form {
    display: inline-block;
    vertical-align: top;
    width: 80%;
}

.input-area .input-form div {
    display: inline-block;
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.5px solid var(--sub-color);
    border-radius: 5px;
}

.input-area .input-form div label {
    padding: 0 0.5rem 0 0.5rem;
    border-right: 1px solid var(--primary-color);
}

.input-area .input-form div input, .input-area .input-form div select {
    padding: 0 0.5rem 0 0.5rem;
    border: 0;
}

.input-area .input-form input[type=submit] {
    border: 0;
    padding: 0.5rem;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
}

.input-area .input-form input[type=button] {
    border: 0;
    padding: 0.5rem;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
}

.input-area .submit-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(18% - 1rem);
}

.input-area .submit-form input[type=submit],
.input-area .submit-form input[type=button] {
    width: 10rem;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
    border: 0;
}

.input-area .submit-form input[type=submit] {
    border-radius: var(--default-padding);
    background: var(--primary-color);
}

.input-area .submit-form input[type=button] {
    margin-top: 0.5rem;
    border-radius: var(--default-padding);
    background: var(--sub-color);
}

.null-area {
    display: block;
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--sub-color);
}

input, select {
    outline-width: 0;
}


.view-area {
}

.view-area .view-header {
    display: inline-block;
    width: 100%;
}

.view-area .view-header h1 {
    display: inline-block;
    font-weight: 600;
    font-size: var(--h2-fontsize);
    padding: 1rem;
}

#data-fields {
    text-align: center;
    max-height: 35rem;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width : thin;
}

#data-fields .data-header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid black;
    background: #fff;
}

#data-fields .data-header .datas {
    border-right: 0.5px solid rgba(128, 128, 128, 0.47);
}

#data-fields .data-header .datas:last-child {
    border-right: 0;
}

#data-fields .data-body {
    position: relative;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

#data-fields div {
    font-size: 14px;
    padding: 0.25rem;
}

#data-fields .data-body:hover {
    background: rgba(231, 168, 73, 0.35);
}

#data-fields .data-body .datas {
    min-width: 120px;
    border-right: 0.5px solid rgba(128, 128, 128, 0.47);
    white-space: nowrap;
}

#data-fields .data-body .datas:first-child {
    display: none;
}

#data-fields .data-body .datas:last-child {
    border-right: 0;
}

.input-button, .batch-button {
    float: right;
    width: 8rem;
    display: inline-block;
    padding: 0.5rem;
    color: white;
    background: var(--primary-color);
    border: 0;
    border-radius: 1rem;
}

#filter-list {
    width: 14%;
    display: inline-block;
}

#filter-client, #filter-status {
    width: 100%;
    border: 1px solid black;
}

#filter-status {
    margin-top: 1rem;
}

.filter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.filter .header {
    border-bottom: 1px solid black !important;
}

.filter div {
    padding: 0.45em;
    box-sizing: border-box;
    text-align: center;
}

.filter-data {
    width: 85%;
    display: inline-block;
    float: right;
}

#workparttimers {
    clear: both;
    max-height: 45rem;
    overflow-y: scroll;
    margin-top: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.34);
}

#workparttimers .header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    background: white;
    color: black;
}

#workparttimers .items {
    padding: 0.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 0.5px solid rgba(17, 7, 7, 0.35);
}

#workparttimers .items input {
    text-align: center;
    border: 0;
}

#filter-client {
    height: 27.8rem;
    overflow-y: auto;
}

#filter-client .filter div {
    border-bottom: 0.5px solid gray;
}

.div-header {
    font-size: 1.2rem;
    font-weight: 600;

    margin-bottom: 1rem;
}

.form-workparttimer {
    display: inline-block;
    float: right;
    margin-bottom: 1rem;
}

.form-workparttimer input[type=month], .form-workparttimer select {
    width: 10rem;
    padding: 0.25rem;
    border-radius: 5px;
    border: 0.5px solid rgba(47, 47, 47, 0.78);
}

.submit {
    border: 0.5px solid var(--primary-color);
    border-radius: 5px;
    background: var(--primary-color);
    color: white;
    padding: 0.3rem;
    width: 3rem;
}

.annuals .annuals-header {
    position: sticky;
    top: 0;
    background: #696969;
    color: white;
}

.annuals > div {
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.6);
}

#delete {
    background: #414040;
}
.io {
    width : 100%;
    display :flex!important;
    justify-content: space-between;
    align-items: center;
}
.io button {
    background: none;
    padding : 0.25rem 0.5rem;
    border : 2px solid var(--primary-color);
    border-radius: 5px;
}
.io button:hover {
    background: rgba(255, 157, 25, 0.35);
}
.employeeIO {
    position: relative;
    width: 100%;
    height: 80vh !important;
    margin: 0 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    box-sizing: border-box;
}

.employeeIO h2 {
    width: 100%;
    display: flex;
    font-size: 1.2em;
    justify-content: flex-start !important;
    margin: 0.5rem;
}

.employeeIO .employeeI,
.employeeIO .employeeO {
    position: relative;
    width: 100%;
    height: 40vh;
    background: white;
    padding: 0 !important;
    overflow-y: auto;
    margin-top: 1rem;
}

.employeeIO .employeeI > div,
.employeeIO .employeeO > div {
    width: 95%;
    border: 0.1px solid black;
    padding: 0 !important;
}

.employeeIO .header {
    position: sticky;
    top: 0;
    width: 100%;
    border: 0.2px solid black;
    display: grid;
    padding: 0 !important;
    grid-template-columns: repeat(9, 1fr);
}

.employeeIO .header span {
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}

.employeeIO .header span:last-child {
    border-right: 0;
}

.employeeIO .datas {
    padding: 0 !important;
}

.employeeIO .datas .data {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border-bottom: 0.1px solid black;
    box-sizing: border-box;
    padding : 0!important;
    margin: 0 !important;
}

.employeeIO .datas .data span {
    padding: 0.3rem;
    border-right: 0.5px solid black;
    box-sizing: border-box;
}

.employeeIO .datas .data span:last-child {
    border: 0;
}

.employeeIO .datas .data:last-child {
    border: 0;
}
.annuals-data {
    width : 100%;
    height : 80vh;
    overflow-y: auto;
}
.annuals-data .annuals-head{
    position: relative;
    display: flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom : 2.5rem;
    border-bottom : 0;
}
.annuals-data .annuals-head h2{
    font-size : 1.2em;
    font-weight : 600;
    padding : 1rem;
}
.annuals-data .annuals-head form {
    display: flex;
}

.annuals-data .annuals-head form div {
    display: flex;
    align-items: center;
    padding : 0.5rem;
    border : 0.5px solid gray;
    border-radius: 5px;
    text-align : center;
}

.annuals-data .annuals-head form div label{
    padding : 0 0.5rem;
    border-right : 1px solid var(--primary-color);
}
.annuals-data .annuals-head form div input{
    margin : 0 0.5rem;
    width : 80px;
    border: 0;
}
.annuals-data .annuals-head form input[type=submit] {
    border : 0;
    border-radius: 5px;
    color : white;
    width : 50px;
    background: var(--primary-color);
    margin-left : 5px;
}

.annuals-data > div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr repeat(13, 1fr);
    text-align : center;
    border-bottom : 0.5px solid gray;
}

.annuals-data > div span{
    padding : 0.5rem;
}
