.misu {
    width : 100%;
}
.misu-data .items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    text-align : center;
    padding : 0.5rem;
}
.data-header {
    background: var(--sub-color);
    color : white;
    font-weight: 600;
}