#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(51, 51, 51, 0.49);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    visibility: hidden;
    z-index: 2;
}

#modal .modal_content {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 700px;
    height: 450px;
    position: relative;
    padding : 2rem;
}
#modal .title {
    padding-left: 1rem;
    color: #000000;
}
.title h2 {
    display: inline-block;
}
#modal .close-area {
    display: inline-block;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    color: #000000;
    vertical-align: top;
}
.content {
    margin-top : 3rem;
}
.content form > div{
    padding : 1rem 0 1rem 0;
}
.content label{
    display: inline-block;
    width : 6rem;
    text-align : center;
}
.content .line input {
    width : calc(100% - 7rem);
}
.content .inline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    text-align : left;
}
.content .inline input   {
    width : calc(100% - 7rem);
}
.button-list {
    text-align : center;
}