{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
    <div class="view-area">
    <div class="view-header"><h1>연차관리대장 (직원용)</h1></div>
    <div>
        <div class="data-fields annuals">
            <div class="annuals-header"><span>직원명</span><span>총 연차</span><span>사용 연차</span><span>잔여 연차</span></div>
            {% for annual in annuals %}
                <div><span>{{ annual.name }}</span> <span>{{ annual.annual }}</span> <span>{{ annual.used }}</span> <span>{{ annual.annual|sub:annual.used }}</span></div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}