{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="input-area">
        <form method="post">
            <div class="input-form">
                {% csrf_token %}
                <input type="hidden" name="id" id="id" value="-1">
                <div><label>이름</label><input type="text" name="name" id="name" required></div>
                <div><label>주민등록번호</label><input type="text" name="reg_num" id="reg_num" required></div>
                <div><label>연락처</label><input type="text" name="contact" id="contact" required></div>
                <div><label>성별</label><input type="text" name="gender" id="gender" required></div>
                <div><label>은행</label><input type="text" name="bank" id="bank" required></div>
                <div><label>계좌번호</label><input type="text" name="banknum" id="banknum" required></div>
                <div><label>부서</label><input type="text" name="department" id="department" required></div>
                <div><label>파트</label><input type="text" name="part" id="part" required></div>
                <div><label>입사일</label><input type="text" name="inwork" id="inwork" required></div>
                <div><label>퇴사일</label><input type="text" name="outwork" id="outwork" required></div>
                <div><label>보건증발급일</label><input type="text" name="health" id="health" required></div>
            </div>
            <div class="submit-form">
                <div><input type="submit" value="저장"></div>
                <div><input type="button" value="초기화"></div>
            </div>
        </form>
    </div>
    <div class="null-area">
    </div>
    <div class="view-area">
        <div class="view-header"><h1>파트타이머관리</h1></div>

        <div style="border : 1px solid black; height : 35rem;">
            <div id="data-fields">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var dataHeader = ["id", "이름", "주민등록번호", "연락처", "성별", "은행", "계좌번호", "부서", "파트", " 입사일", "퇴사일", "근속기간", "보건증발급일"];
        var datas = [];
        var dataId = "#data-fields";
        var sortfix = [0, 1];

        {% for data in datas %}
            var line = []
            line.push("{{ data.id }}");
            line.push("{{ data.summary }}");
            line.push("{{ data.etc }}");
            line.push("{{ data.pay|intcomma }}");
            line.push("{{ data.paytype }}");
            line.push("{{ data.content }}");
            datas.push(line);
        {% endfor %}

        gridSetting(dataId, 1);
        printData(1, dataId, dataHeader, datas);

        $(document).on("click", ".data-header .datas", function() {
            var sortkey = $(".data-header .datas").index(this);

            if(sortkey == sortfix[0]){
                console.log("eq");
                if(sortfix[1] == 1){
                    console.log("desc");
                    datas.sort(function(a, b) { return a[sortfix[0]] > b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                    sortfix[1] = 0;

                    clearlist();
                    gridSetting(dataId, 1);
                    printData(0, dataId, dataHeader, datas);
                } else {
                    console.log("aec");
                    datas.sort(function(a, b) { return a[sortfix[0]] < b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                    sortfix[1] = 1;

                    clearlist();
                    gridSetting(dataId, 1);
                    printData(0, dataId, dataHeader, datas);
                }
            }else {
                datas.sort(function(a, b) { return a[sortfix[0]] < b[sortfix[0]] ? -1 : a[sortfix[0]] > b[sortfix[0]] ? 1 : 0; });
                sortfix[0] = sortkey;
                sortfix[1] = 0;

                clearlist();
                gridSetting(dataId, 1);
                printData(0, dataId, dataHeader, datas);
            }
        });

        $(".data-body").click(function () {
            var findkey = $(this).children("div:eq(0)");
            var key = findkey.get()[0].innerText;
            console.log(key);
            var getValue = getData(key, "{% url 'trade:getEtc' %}");
            console.log(getValue);
            formSetData(getValue, key);
        });
    </script>
{% endblock %}