{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load customfilter %}
{% block content %}
    {% if error %}
        <script>alert("{{ error }}");</script>
    {% endif %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet" type="text/css"/>
    <section>
        <header>
            <h2>근태관리</h2>
        </header>
        <div class="search-fields">
            <form method="get">
                <div>
                    <label>직원명</label>
                    <select name="employee">
                        {% if employees %}
                            {% for employee in employees %}
                                <option value="{{ employee.name }}"
                                        {% if employee.name == selectedEmployee %}selected{% endif %}>{{ employee.name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="-1">----</option>
                        {% endif %}
                    </select>
                </div>
                <div><label>선택년월</label><input type="month" name="date" value="{{ year }}-{{ month }}"></div>
                <div class="submit-button"><input type="submit"></div>
            </form>
        </div>
        <div class="calendar-fields">
            <div class="header">

            </div>
            <div class="dates">
                {% if calendar %}
                    {% for date in calendar %}
                        <div class="date">
                            <div>
                                <span class="day">{{ date|date:"j" }}</span>
                                <span class="status">출근</span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <div class="calendar-modal">
        <div class="data-main">
            <header><h2>근태입력</h2><ion-icon name="close-outline"></ion-icon></header>
            <div class="content">
                <form>
                    {% csrf_token %}
                    <div class="data-fields"><label>날짜</label><input type="text" value="2022-03-04"></div>
                    <div class="data-fields"><label>이름</label><input type="text"></div>
                    <div class="data-fields"><label>근무타입</label><input type="text"></div>
                    <div class="data-fields"><label>근무시간</label><input type="text"></div>
                    <div class="data-fields">
                        <label>체크박스제목</label>
                        <span class="checkboxs">
                        <input type="radio" name="worktype">
                        <input type="radio" name="worktype">
                        <input type="radio" name="worktype">
                        <input type="radio" name="worktype">
                        <input type="radio" name="worktype">
                        <input type="radio" name="worktype">
                        </span>
                    </div>
                    <div class="data-fields">
                        <label>특이사항</label>
                        <textarea>
                        </textarea>
                    </div>
                    <div class="data-fields submit">
                        <input type="submit" value="저장">
                        <input type="button" value="초기화">
                        <input type="button" value="취소">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).on("click", ".date", function(e) {
        console.log(e.target);
        $(".calendar-modal").css("display", "flex");
    })
    $(document).on("click", ".calendar-modal", function(e){
        if($(e.target).hasClass("calendar-modal")){
            $(".calendar-modal").css("display", "none");
        }
    })
    </script>

{% endblock %}