{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load customfilter %}
{% block content %}
    {% if error %}
        <script>alert("{{ error }}");</script>
    {% endif %}
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet" type="text/css"/>
    <section>
        <header>
            <h2>근태관리</h2>
        </header>
        <div class="search-fields">
            <form method="get">
                <div>
                    <label>직원명</label>
                    <select name="employee">
                        {% if employees %}
                            {% for employee in employees %}
                                <option value="{{ employee.name }}"
                                        {% if employee.name == selectedEmployee %}selected{% endif %}>{{ employee.name }}</option>
                            {% endfor %}
                        {% else %}
                            <option value="-1">----</option>
                        {% endif %}
                    </select>
                </div>
                <div><label>선택년월</label><input type="month" name="date" value="{{ year }}-{{ month }}"></div>
                <div class="submit-button"><input type="submit" value="검색"></div>
            </form>
        </div>
        <div class="calendar-fields">
            <div class="header">

            </div>
            <div class="dates">
                {% if calendar %}
                    {% for date in calendar %}
                        {% if date|date:'m' == month %}
                            {% if date|isWork:selectedEmployee %}
                                {% with target=date|getWork:selectedEmployee %}
                                    <div class="date" style="--work-color:{{ target.worktype|getWorkColor }}">
                                        <div>
                                            <div>
                                                <span class="day">{{ date|date:"j" }}</span>
                                                <span class="status">{{ target.worktype }}</span>
                                            </div>
                                            <div class="worktime">출근시간 : {{ target.workstart|convertMinuteToTime }}</div>
                                            <div class="worktime">퇴근시간 : {{ target.workend|convertMinuteToTime }}</div>
                                            {% if target.content %}
                                                <div class="workcontent">{{ target.content }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endwith %}
                            {% else %}
                                <div class="date" style="--work-color:#FFBA00">
                                    <div>
                                        <div>
                                            <span class="day">{{ date|date:"j" }}</span>
                                            <span class="status">출근</span>
                                        </div>
                                        <div class="worktime">출근시간 : 10:00</div>
                                        <div class="worktime">퇴근시간 : 10:00</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                                <div class="other-month" style="background : rgba(192,192,192,0.47);">
                                    <div>
                                        <span class="day" style="color : gray;">{{ date|date:"j" }}</span>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <div class="calendar-modal">
        <div class="data-main">
            <header><h2>근태입력</h2><span class="close-button"><ion-icon name="close-outline"></ion-icon></span></header>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <div class="data-fields">
                        <label>날짜</label><input type="text" value="" name="workDate" id="workDate" readonly>
                    </div>
                    <div class="data-fields">
                        <label>이름</label><input type="text" value="" name="workName" id="workName" readonly>
                    </div>
                    <div class="data-fields">
                        <label>근무타입</label>
                        <span class="checkboxs">
                            <span>출근<input type="radio" name="workType" value="출근"></span>
                            <span>조퇴<input type="radio" name="workType" value="조퇴"></span>
                            <span>결근<input type="radio" name="workType" value="결근"></span>
                            <span>주휴일<input type="radio" name="workType" value="주휴일"></span>
                            <span>반주휴<input type="radio" name="workType" value="반주휴"></span>
                            <span>연차<input type="radio" name="workType" value="연차"></span>
                            <span>반차<input type="radio" name="workType" value="반차"></span>
                            <span>추가근로<input type="radio" name="workType" value="추가근로"></span>
                        </span>
                    </div>
                    <div class="data-fields two-input">
                        <label>출근시간</label><input class="workstart" type="time" name="workStart" id="workStart"
                                                  readonly>
                        <label>퇴근시간</label><input class="workend" type="time" name="workEnd" id="workEnd" readonly>
                    </div>
                    <div class="data-fields"><label>휴게시간</label>
                        <input type="number" step="0.5" min="0" name="breakTime">시간
                    </div>

                    <div class="data-fields">
                        <label>특이사항</label>
                        <textarea name="workContent"></textarea>
                    </div>
                    <div class="data-fields submit">
                        <input type="submit" value="저장">
                        <input type="button" value="초기화" onclick="resetInputData('{% url "employee:getWorkEmployee" %}');">
                        <input class="close-button" type="button" value="취소">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('input.workstart').timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                minTime: '10:00',
                maxTime: '22:00',
                defaultTime: '10',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });

            $('input.workend').timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                minTime: '10:00',
                maxTime: '22:00',
                defaultTime: '22',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });

            $(document).on("click", ".date", function (e) {
                $(".calendar-modal").css("display", "flex");
                let date = {{ year }} + "-" + String({{ month }}).padStart(2, "0") + "-"+ $(".day", this).text().padStart(2, "0")
                getWorkDate("{{ selectedEmployee }}", date, "{% url 'employee:getWorkEmployee' %}");
            })
            $(document).on("click", ".calendar-modal", function (e) {
                if ($(e.target).hasClass("calendar-modal")) {
                    $(".calendar-modal").css("display", "none");
                }
            })
            $(document).on("click", ".close-button", function (e) {
                $(".calendar-modal").css("display", "none");
            })
        })
    </script>

{% endblock %}