{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>쿠우쿠우 송천점 관리시스템</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icons" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/root.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/navigation.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/modal.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="{% static 'js/data.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/treeview.js' %}"></script>
</head>
<body>
{% include 'navigation.html' %}
{% block content %}
{% endblock %}
</main>
</body>
</html>