{% load static %}
<header>
   <img id="header-favicon" src="{% static 'img/favicon.png' %}" width="25px"><h1>쿠우쿠우 관리시스템<span id="h1-sub">송천점</span></h1>
    <ul>
        <li><a href="{% url 'main:index' %}">대시보드</a></li>
        <li><a href="{% url 'main:sales' %}">매출관리</a></li>
    </ul>
</header>
<nav>
    <div class="scroll-wrap">
        <!-- 최상위 카테고리-->
        <ul class="first-view"> 
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">거래처</span>
            </div>
            <ul class="second-view">
                <li> <!-- 하위 카테고리 -->
                    <div class="ml-1" onclick='location.href="{% url 'trade:client' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">거래처관리</span>
                    </div>
                </li>
                <li> <!-- 하위 카테고리 -->
                    <div class="ml-1" onclick='location.href="{% url 'trade:clientTrade' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">거래내역</span>
                    </div>
                </li>
            </ul>
        </ul>
        <!-- 최상위 카테고리-->
        <ul class="first-view"> 
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">고정비</span>
            </div>
            <ul class="second-view">
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'trade:fix' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">목록관리</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'trade:fixCost' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">납부내역</span>
                    </div>
                </li>
            </ul>
        </ul>
        <!-- 최상위 카테고리-->
        <ul class="first-view"> 
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">관리비</span>
            </div>
            <ul class="second-view">
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'trade:manage' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">관리비관리</span>
                    </div>
                </li>
            </ul>
        </ul>
        <!-- 최상위 카테고리-->
        <ul class="first-view"> 
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">로열티</span>
            </div>
            <ul class="second-view">
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'trade:royalty' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">로열티관리</span>
                    </div>
                </li>
            </ul>
        </ul>
        <!-- 최상위 카테고리-->
        <ul class="first-view"> 
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">임대료</span>
            </div>
            <ul class="second-view">
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'trade:rant' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">임대차정보</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'trade:rantPay' %}";'>
                        <em class="ic16 ic-star-on" ></em>
                        <span class="menu-name">납부내역</span>
                    </div>
                </li>
            </ul>
        </ul>
        <!-- 최상위 카테고리-->
        <ul class="first-view"> 
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">기타</span>
            </div>
            <ul class="second-view">
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'trade:etc' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">기타목록</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'trade:etcPay' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">납부내역</span>
                    </div>
                </li>
            </ul>
        </ul>
        <!-- 최상위 카테고리-->
        <ul class="first-view"> 
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">근로자정보</span>
            </div>
            <ul class="second-view">
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'employee:employee' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">직원</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'employee:parttimer' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">파트타이머</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'employee:oneday' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">일용직</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li>
                    <div class="ml-1" onclick='location.href="{% url 'employee:retired' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">퇴사자관리</span>
                    </div>
                </li>
            </ul>
        </ul>                           
        <ul class="first-view"> 
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">근태관리</span>
            </div>
            <ul class="second-view">
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'employee:workEmployee' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">직원</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'employee:workParttimer' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">파트타이머</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li> 
                    <div class="ml-1" onclick='location.href="{% url 'employee:workoneday' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">일용직</span>
                    </div>
                </li>
            </ul>
        </ul>
        <ul class="first-view">
            <div class="ml-1">
                    <em class="ic16 ic-close"></em>
                    <em class="ic16 ic-folder"></em>
                    <span class="menu-name">카드관리</span>
            </div>
            <ul class="second-view">
                <!-- 하위 카테고리 -->
                <li>
                    <div class="ml-1" onclick='location.href="{% url 'trade:cardinfo' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">카드정보관리</span>
                    </div>
                </li>
                <!-- 하위 카테고리 -->
                <li>
                    <div class="ml-1" onclick='location.href="{% url 'trade:cardcost' %}";'>
                        <em class="ic16 ic-star-on"></em>
                        <span class="menu-name">카드내역롼리</span>
                    </div>
                </li>
            </ul>
        </ul>
        <ul class="first-view">
            <!-- 하위 카테고리 -->
            <div class="ml-1" onclick='location.href="{% url 'employee:laborCost' %}";'>
                <em class="ic16 ic-star-on"></em>
                <span class="menu-name">월별인건비기입</span>
            </div>
        </ul>
        <ul class="first-view">
            <!-- 하위 카테고리 -->
            <div class="ml-1" onclick='location.href="{% url 'employee:manageAnnual' %}";'>
                <em class="ic16 ic-star-on"></em>
                <span class="menu-name">연차관리대장</span>
            </div>
        </ul>
    </div>
</nav>
<main>